{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
</head>

<body>
    <nav>
        <a href="/" class="logo">
            <img height="37" src="/logo-small.png" />
        </a>
        <a class="link" href="/courses">
            Enroll
        </a>
        <a class="link" href="/contact">
            Contact Us
        </a>
    </nav>
    <div class="nav-spacer"></div>

    {% block content %}
    <div class="header-hero">
        <div class="header-center">
            <img src="logo.png" />
            <p style='text-align: center'>After School Coding Club
                <br>Grades 3 - 10</p>
            <div class="header-links">
                <a class="button color-light" style='font-size: 24px;' href="mailto:info@icancodeclub.com?subject=Ask%20About%20a%20Free%20Trial">Free Trial</a>
            </div>
        </div>
    </div>

    <section class="programs">
        <h1 style="margin-bottom: 1em">Programs</h1>
        {{ macros::course_list() }}
    </section>

    <section class="promos color-3 dark">
        <h1>Promos</h1>
        {% set promos = get_page(path="promos.md") %} {{ promos.content | safe }}
        <a class="button color-light" href="/courses">Enroll Here!</a>
    </section>

    <section class="intro ">
        <h1>Learn to Code</h1>

        <div class="grid" style="margin: 0 auto; max-width: 1500px;">
            <div>
                {% set about = get_page(path="about.md") %} {{ about.content | safe }}
            </div>
            <div>

            </div>
        </div>
    </section>
    {% endblock content %}

    <footer>
        <div>
            <h2>Contact Us</h2>
            <p>
                <a href="mailto:{{config.extra.email}}">{{config.extra.email}}</a>
            </p>
            <p>Phone: {{config.extra.phone}} </p>
        </div>

        <div>
            <h2>Social Media</h2>

            {% for social in config.extra.social %}
            <a class="social-icon" href="{{social.url}}">
                <img src="{{social.icon}}" />
            </a>
            {% endfor %}
        </div>

        <div>
            <h2>More</h2>
            <p>Proud Partners with: </p>
            {% for partner in config.extra.partners %}
            <img src="{{partner.icon}}" /> {% endfor %}
        </div>
    </footer>

</body>

</html>