{% macro course_list() %}
<div class="course-list">

    <div class="course">
        <h2>Schools and Clubs</h2>
        </hr>
        <img src="/icons/course-academic.png" />
        <a href="/courses/academic">
            Visit Page
        </a>
        <p>
            Offers programming focused courses at your school, Community Center, and other Pop Up locations.
        </p>
    </div>

    <div class="course">
        <h2>Coding Camps</h2>
        </hr>
        <img src="/icons/course-camps.png" />
        <a href="/courses/camps">
            Visit Page
        </a>
        <p>
            During school closures and Holidays.
        </p>
    </div>

    <div class="course">
        <h2>Workshops & Events</h2>
        </hr>
        <img src="/icons/course-events.png" />
        <a href="/courses/events">
            Visit Page
        </a>
        <p>
            Workshops, Hackathons, Robotics Events, Tech Tours, Special Events, and more.
        </p>
    </div>
</div>
{% endmacro course_list %}